body {
	margin: 0;
	padding: 0;
 
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	perspective: 50vmin;
}

.pyramid {
	background: #d8d8d8;
	width: 30vmin;
	height: 30vmin;
	transform: rotateX(34deg) rotateZ(-73deg);
	transform-style: preserve-3d;
	animation: spin 12s reverse 0s infinite;
    animation-play-state: paused;
}

.pyramid:before {
	content: "";
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translateZ(-10vmin);
	box-shadow: 0 0 2vmin 2vmin #000000;
	opacity: 0.15;
}

.pyramid span {
	width: 100%;
	height: 100%;
	position: absolute;
/*	box-sizing: border-box;*/
	background-color: #efefef;
	background-image: linear-gradient(335deg, #ffffff 6px, transparent 6px),
		linear-gradient(155deg, #ffffff 6px, transparent 6px),
		linear-gradient(335deg, #ffffff 6px, transparent 6px),
		linear-gradient(155deg, #ffffff 6px, transparent 6px);
	background-size: 14px 14px;
	background-position: 0px 0px, 1px 8px, 7px 7px, 8px 1px;
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

/*  blue */

.pyramid span:nth-child(1) {
      background-color: blue;
	transform: rotateX(-053deg);
	transform-origin: center bottom;
	height: 25vmin;
	bottom: 0;
	filter: brightness(0.875);
}



/*  brown */

.pyramid span:nth-child(2) {
      background-color: brown;
	transform: rotateY(053deg) 
        rotateZ(-90deg) 
        translateX(12.5vmin) 
        translateY(-12.5vmin) 
        translateZ(0vmin)
        ;    
    transform-origin:  right center;
	height: 25vmin;
	right: 0;
}



/*  red */

.pyramid span:nth-child(3) {
    background-color: red;
	transform: rotateX(53deg) rotateZ(180deg) translate3d(0vmin, -25vmin, 0vmin);
	transform-origin: center top;
	height: 25vmin;
	top: 0;
	filter: brightness(0.875);
}



/* green */

.pyramid span:nth-child(4) {
      background-color: green;
	transform: rotateY(-53deg)
        rotateZ(90deg)
		translate3d(-12.5vmin, -12.5vmin, 0vmin)
        ;
	transform-origin: left center;
	height: 25vmin;
	left: 0;
}

@keyframes spin {
	0% {
		transform: rotateX(65deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(65deg) rotateZ(360deg);
	}
}

.pyramid span:before {
	content: "";
	background: #ffd400;
	width: 100%;
	height: 1.75vmin;
	position: absolute;
}


